<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carystudio</title>
    <link rel="stylesheet" href="/newui/plugin/iview/styles/iview.css">
    <link rel="stylesheet" href="/newui/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
    <Col class="cs-container" span="20" >
    <slot name="breadcrumb" :breadcrumb="[$t('menu.firewall'),$t('menu.portfwd')]"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
            <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
                <Col>
                <Alert>
                    {{ $t('portfwd.help') }}
                </Alert>
                </Col>
                <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                    <!--<FormItem :label="$t('portfwd.title')">
                        <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus">
                            <span slot="open">{{ $t('common.enabled') }}</span>
                            <span slot="close">{{ $t('common.disabled') }}</span>
                        </i-switch>
                    </FormItem>
                    <Col v-show="formValidate.status" >
                    {{ $t('portfwd.add_rule') }}
                    <hr>-->
                    <br>
                    <FormItem :label="$t('portfwd.specified_interface')" prop="interface">
                        <Select v-model="formValidate.interface" :key="$t('portfwd.specified_interface')">
                            <Option v-for="item in interface" :value="item">{{item}}</Option>
                        </Select>
                    </FormItem>
                    <FormItem :label="$t('portfwd.protocol')">
                        <i-select v-model="formValidate.protocol">
                            <Option value="tcp/udp">TCP/UDP</Option>
                            <Option value="tcp">TCP</Option>
                            <Option value="udp">UDP</Option>
                        </i-select>
                    </FormItem>
                    <FormItem :label="$t('portfwd.ip')" prop="ip">
                        <Row>
                            <Col span="19"><Input v-model="formValidate.ip" ></Input></Col>
                            <Col span="4" offset="1"><Button long @click="showClientList">{{ $t('portfwd.scan') }}</Button></Col>
                        </Row>
                    </FormItem>
                    <FormItem :label="$t('portfwd.internal_port')" prop="fromPort">
                        <Input v-model="formValidate.fromPort" :maxlength="5"></Input>
                        <span>(1-65535)</span>
                    </FormItem>
                    <FormItem :label="$t('portfwd.external_port')" prop="wanfromPort">
                        <Input v-model="formValidate.wanfromPort" :maxlength="5"></Input>
                        <span>(1-65535)</span>
                    </FormItem>
                    <!--<FormItem :label="$t('portfwd.comment')" prop="comment">-->
                    <!--<Input v-model="formValidate.comment" ></Input>-->
                    <!--</FormItem>-->
                    <!-- btn -->
                    <FormItem>
                        <Button type="primary" :loading="addPortfwdLoading" @click="handleSubmit('formValidate')">{{ $t('portfwd.add') }}</Button>
                    </FormItem>
                    <!--</Col>-->
                </Form>
            </Card>
            <br>
            </Col>
        </row>
        <Row>
           <!-- <Col class="cs-btn-del">
            <Button size="small" @click="tableSelect(true)" type="error">{{ $t('static_dhcp.delete') }}</Button>
            </Col>-->
            <Col>
            <Table border ref="tableSelect" :columns="portfwdColumns" :data="portfwdData" :no-data-text="$t('common.no_data')"></Table>
            </Col>
        </Row>
    </div>
    <Modal
            v-model="showModel"
            :title="$t('portfwd.modal_title')"
            :ok-text="$t('common.confirm')"
            :cancel-text="$t('common.cancel')"
            @on-ok="ok"
            @on-cancel="cancel">
        <Table highlight-row :loading="arpLoading" :columns="arpColumns" :data="arpData" @on-current-change="selectTable" :no-data-text="$t('common.no_data')">
            <!--<div slot="footer" style="display: none;"></div>-->
        </Table>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
    </Col>
</script>
<script src="/newui/plugin/vue.js"></script>
<script src="/newui/plugin/vue-i18n.js"></script>
<script src="/newui/plugin/iview/iview.js"></script>
<script src="/newui/plugin/jquery-1.11.3.min.js"></script>
<script src="/newui/plugin/util.js"></script>
<script src="/newui/static/js/language.js"></script>
<script src="/newui/static/js/config.js"></script>
<script src="/newui/static/js/layout.js"></script>
<script src="/newui/static/js/common.js"></script>
<script src="/newui/static/js/topicurl.js"></script>
<script>
    var cs_main = {
        template:"#main",
        data:function(){
            return {
                globalConfig:globalConfig,
                arpLoading:true,
                addPortfwdLoading:false,


                formValidate: {
//                    status:false,
                    interface:'WAN1',
                    protocol:'tcp/udp',
                    ip:'',
                    fromPort:'',
                    wanfromPort:''
                },
                ip:'',
                lanIp: '',
                lanNetmask: '',
                showModel:false,
                arpData: [],
                portfwdData: [],
                interface:[],
                radioChecked:''
            }
        },
        computed:{
            arpColumns:function () {
                var _this = this;
                return [
                    {
                        title: _this.$t("portfwd.select"),
                        key: 'idx',
                        render: function(h, params) {
                            return  h("Radio",{
                                props:{
                                    value:_this.radioChecked == params.row.idx?true:false
                                },
                                nativeOn:{
                                    click:function () {
                                        _this.selectTable(params.row);
                                    }
                                }
                            });
                        }
                    },
                    {
                        title: 'IP',
                        key: 'ip',
                        sortable:true
                    },
                    {
                        title: 'MAC',
                        key: 'mac',
                        sortable:true
                    }
                ]
            },
            ruleValidate: function(){
                var _this = this;
                return{
                    ip: [
                        { required: true, message: this.$t('portfwd.msg1'), trigger: 'blur' },
                        { validator:function(r, v, f) {
                            var ret = cs.ip(v);
                            if (ret == 0 || ret == 1 || ret == 2 || ret == 3 || ret == 4) {
                                f(_this.$t('portfwd.msg1'));
                            }
//                            if(v == _this.lanIp){
//                                f(_this.$t('portfwd.msg2'));
//                            }
//                            if(0 == cs.ip_subnet(v,_this.lanNetmask,_this.lanIp)){
//                                f(_this.$t('portfwd.msg3'));
//                            }
                            f();
                        },trigger: 'blur' }
                    ],
                    fromPort: [
                        { validator:function(r, v, f) {
                            var _s = cs.port(v,1,65535);
                            if(_s == 0) {
                                f(_this.$t('portfwd.msg14'));
                            }else if(_s == 1 || _s == 2) {
                                f(_this.$t('portfwd.msg4'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ],
                    wanfromPort: [
                        { validator:function(r, v, f) {
                            var _s = cs.port(v,1,65535);
                            if(_s == 0) {
                                f(_this.$t('portfwd.msg6'));
                            }else if(_s == 1 || _s == 2) {
                                f(_this.$t('portfwd.msg5'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ],
                    comment: [
                        { validator:function(r, v, f){
                            var _s = cs.string(v);
                            if(_s == 1){
                                f(_this.$t('portfwd.msg10'));
                            }else{
                                f();
                            }
                        },trigger: 'blur'}
                    ]
                }
            },
            portfwdColumns: function() {
                var _this = this;
                return [/*{
                    type: 'selection',
                    key: 'Id',
                    width: '100',
                    sortable: true
                },*/ {
                    title: 'ID',
                    key: 'idx',
                    sortable: true
                }, {
                    title: this.$t('portfwd.ip'),
                    key: 'RemoteIp',
                    sortable: true
                }, {
                    title: this.$t('portfwd.network_interface'),
                    key: 'Interface',
                    sortable: true
                }, {
                    title: this.$t('portfwd.protocol'),
                    key: 'Protocol',
                    sortable: true
                }, {
                    title: this.$t('portfwd.internal_port'),
                    key: 'RemotePort',
                    sortable: true
                }, {
                    title: this.$t('portfwd.external_port'),
                    key: 'LocalPort',
                    sortable: true
                }, {
                    title: this.$t('portfwd.select'),
                    key: 'Id',
                    align: 'center',
                    render: function(h, params) {
                        return h('Poptip',{
                            props: {
                                confirm: true,
                                title: _this.$t('portfwd.msg12'),
                                "ok-text":_this.$t('common.ok'),
                                "cancel-text":_this.$t('common.cancel')
                            },
                            on: {
                                "on-ok": function(){
                                    _this.deleteData(params);
                                }
                            }
                        }, [
                            h('Button', {
                                props: {
                                    type: 'error',
                                    size: 'small'
                                }
                            }, _this.$t('portfwd.delete'))
                        ]);
                    }
                }];
            }
        },
        created:function() {
            var _this = this;
            var postData = {"action":"getStatusInfo"};
            uiPost.getStatusInfo(postData,function(data){
                if (9999 == data.rescode){
                    cs.loginOut();
                }
                if (0 == data.rescode) {
                    var interfaceData = data.data.interface;
                    $.each(interfaceData,function(index, el) {
                        if (el){
                            if('WAN' == index.toUpperCase().substring(0,3)){
                                _this.interface.push(index.toUpperCase());
                            }
                        }
                    });
                }
            });

            var postPatData = {"action":"getPatStatus"};
            uiPost.postPatData(postPatData,function(data){

                if (9999 == data.rescode){
                    cs.loginOut();
                }
                _this.portfwdData = data.data;
                for(var i in data.data){
                    _this.portfwdData[i].idx = Number(i) + 1;
                }
            });

        },
        methods:{
            handleSubmit: function(name) {
                var _this = this;
                _this.addPortfwdLoading = true;
                _this.$refs[name].validate(function(valid){
                    if (valid) {
                        if(_this.portfwdData.length){
                            for(var i=0; i<_this.portfwdData.length; i++){
                                if(_this.formValidate.fromPort == _this.portfwdData[i].lanPortFrom){
                                    _this.$Message.error({content:_this.$t('portfwd.msg8'),duration:5});
                                    return false;
                                }
                                if(_this.formValidate.wanfromPort == _this.portfwdData[i].wanPortFrom){
                                    _this.$Message.error({content:_this.$t('portfwd.msg8'),duration:5});
                                    return false;
                                }
                            }
                        }
                        var data = {};
                        data.Interface = _this.formValidate.interface.toLowerCase();
                        data.Protocol = _this.formValidate.protocol;
                        data.RemoteIp = _this.formValidate.ip;
                        data.LocalPort = _this.formValidate.wanfromPort;
                        data.RemotePort = _this.formValidate.fromPort;

                        var postData = {"action":"addPatItem", "data":data};

                        uiPost.addPatItem(postData,function(data){
                            console.log(data);
                            if (9999 == data.rescode){
                                cs.loginOut();
                            }
                            if (0 == data.rescode) {
                                _this.$Message.success({content:_this.$t('portfwd.msg15'),onClose:function(){
                                    location.href = location.href;
                                }});
                            } else {
                                _this.$Message.error({content:_this.$t('portfwd.msg16')+_this.$t('errorcode.'+data.rescode),duration:5});
                            }
                            _this.addPortfwdLoading = false;
                        });
                    }else{
                        _this.addPortfwdLoading = false;
                    }
                })
            },
            showClientList:function () {
                var _this = this;
                _this.showModel = true;
                var postData = {"action":"getArpInfo", "data":{}};
                uiPost.getArpInfo(postData,function(data) {
                    if (9999 == data.rescode){
                        cs.loginOut();
                    }
                    _this.arpData = data.data;
                    for(var i in _this.arpData){
                        _this.arpData[i].idx = ''+( Number(i) + 1 );
                    }
                    _this.arpLoading = false;
                });
            },
            ok:function () {
                this.formValidate.ip = this.ip;
                //this.$Message.info('Clicked ok');
            },
            cancel:function () {
                //this.$Message.info('Clicked cancel');
            },
            submitStatus:function(){
                var postVar = {};
                if(true == this.formValidate.status){
                    postVar.enable = "1";
                }else{
                    postVar.enable = "0";
                }
                postVar.addEffect = "1";
                uiPost.setPortForwardRules(postVar,function (data) {
                    if (9999 == data.rescode){
                        cs.loginOut();
                    }
                    if (0 != data.rescode) {
                        _this.$Message.error({content:_this.$t('portfwd.msg19')+_this.$t('errorcode.'+data.rescode),duration:5});
                    }
                });
            },
            selectTable:function (obj) {
                this.radioChecked = obj.idx;
                this.ip = obj.ip;
            },
            deleteData:function (obj) {
                var _this = this;
                var data = {};
                data.Id = obj.row.Id;

                var postData = {"action":"delPatItem", "data":data};

                uiPost.delPatItem(postData,function(data){
                    if (9999 == data.rescode){
                        cs.loginOut();
                    }
                    if (0 == data.rescode) {
                        _this.portfwdData.splice(obj.index, 1);
                        _this.$Message.success(_this.$t('portfwd.msg17'));
                    } else {
                        _this.$Message.error({content:_this.$t('portfwd.msg18')+_this.$t('errorcode.'+data.rescode),duration:5});
                    }
                });

            },
            tableSelect:function(status){
                var _this = this;
                if (status) {
                    var getSelection = this.$refs.tableSelect.getSelection();
                    if (getSelection.length>0) {
                        var postVar = {};
                        for(var i=0; i<getSelection.length; i++)
                        {
                            postVar[getSelection[i].delRuleName] = i;
                        }
                        uiPost.delPortForwardRules(postVar,function(data){
                            if (9999 == data.rescode){
                                cs.loginOut();
                            }
                            if (0 == data.rescode) {
                                _this.$Message.success({
                                    content: _this.$t('portfwd.msg13'), onClose: function () {
                                        location.href = location.href;
                                    }
                                });
                            }

                        });
                    }else{
                        _this.$Message.error({content:_this.$t('portfwd.msg11'),duration:5});
                    }
                }else{
                    this.$refs.tableSelect.selectAll(status);
                }
            }
        }
    };
</script>
<script src="/newui/static/js/main.js"></script>
</body>
</html>