<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carystudio</title>
    <link rel="stylesheet" href="/newui/plugin/iview/styles/iview.css">
    <link rel="stylesheet" href="/newui/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
    <Col class="cs-container" span="20" >
    <slot name="breadcrumb" :breadcrumb="[$t('menu.internet'),$t('menu.lan')]"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <Row>
            <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
                <Alert>
                    <!-- <h3>设置</h3> -->
                    {{ $t('lan.help') }}
                </Alert>
                <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                    <FormItem :label="$t('lan.lan_port')">
                        <RadioGroup v-model="switchLanPort" type="button">
                            <Radio v-for="(item,idx) in interfaces" :key="item.Interface" :label="item.Interface">{{item.Interface}}</Radio>
                        </RadioGroup>
                        <Button :disabled="showAddBtnFlag != '1'" type="ghost" icon="plus-round" @click="addLanBtn()"></Button>
                        <Button v-if="switchLanPort != 'lan1' && switchLanPort != 'add'" type="ghost" @click="delLanBtn()">{{$t("lan.delete")}}</Button>
                    </FormItem>
                    <FormItem :label="$t('lan.ip')" prop="lanIp">
                        <Input v-model="formValidate.lanIp" ></Input>
                    </FormItem>
                    <FormItem :label="$t('lan.mask')" prop="lanNetmask">
                        <Input v-model="formValidate.lanNetmask" ></Input>
                    </FormItem>
                    <FormItem :label="$t('lan.lanport')">
                        <Select v-model="netSelCardDinding" multiple :placeholder="$t('lan.default_select_lang')">
                            <Option v-for="(item,idx) in nics" :key="idx" :value="idx">{{ idx }} | {{item.mac}}</Option>
                        </Select>
                    </FormItem>

                    <FormItem :label="$t('lan.server')" prop="dhcp">
                        <i-switch v-model="formValidate.dhcp" size="large" >
                            <span slot="open">{{ $t('common.enabled') }}</span>
                            <span slot="close">{{ $t('common.disabled') }}</span>
                        </i-switch>
                    </FormItem>
                    <Col v-if="formValidate.dhcp" >
                    <FormItem :label="$t('lan.sip')" prop="dhcpStart">
                        <Input v-model="formValidate.dhcpStart" ></Input>
                    </FormItem>
                    <FormItem :label="$t('lan.eip')" prop="dhcpEnd">
                        <Row v-if="switchLanPort != 'add'">
                            <Col span="18"><Input v-model="formValidate.dhcpEnd" ></Input></Col>
                            <Col span="5" offset="1"><Button long @click="showGetModel">{{ $t('lan.show') }}</Button></Col>
                        </Row>
                        <Row v-else>
                            <Input v-model="formValidate.dhcpEnd" ></Input>
                        </Row>
                    </FormItem>
                    <FormItem :label="$t('lan.lease_time')">
                        <Select v-model="formValidate.dhcpLease" :key="$t('lan.lease_time')">
                            <Option value="300">5 {{ $t('lan.minutes') }}</Option>
                            <Option value="900">15 {{ $t('lan.minutes') }}</Option>
                            <Option value="3600">1 {{ $t('lan.hour') }}</Option>
                            <Option value="7200">2 {{ $t('lan.hours') }}</Option>
                            <Option value="86400">1 {{ $t('lan.day') }}</Option>
                        </Select>
                    </FormItem>
                    </Col>

                    <!-- btn -->
                    <FormItem>
                        <Button type="primary" @click="handleSubmit('formValidate')" :loading="applyLoading">{{ $t('common.apply') }}</Button>
                    </FormItem>
                </Form>
            </Card>
            </Col>
        </Row>
    </div>

    <Modal
            v-model="showModel"
            :title="$t('lan.modal_title')"
            :okText="$t('common.ok')"
            :cancelText="$t('common.cancel')"
            @on-ok="ok"
            @on-cancel="cancel">
        <Table highlight-row :columns="dhcpColumns" :data="getDhcpCliList" @on-current-change="selectTable" :no-data-text="$t('common.no_data')">
        </Table>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
    </Col>
</script>
<script src="/newui/plugin/vue.js"></script>
<script src="/newui/plugin/vue-i18n.js"></script>
<script src="/newui/plugin/iview/iview.js"></script>
<script src="/newui/plugin/jquery-1.11.3.min.js"></script>
<script src="/newui/plugin/util.js"></script>
<script src="/newui/static/js/language.js"></script>
<script src="/newui/static/js/config.js"></script>
<script src="/newui/static/js/layout.js"></script>
<script src="/newui/static/js/common.js"></script>
<script src="/newui/static/js/topicurl.js"></script>
<script>
    var cs_main = {
        template:"#main",
        data:function(){
            var _this = this;
            return {
                globalConfig:globalConfig,
                applyLoading:false,
                operationMode:'',
                wanIp:'',
                netSelCardDinding:[],
                nics:{},
                interfaces:{},
                tmpLanIp:'',
                oldLanIp:'',

                switchLanPort:'lan1',
                showAddBtnFlag:'1',

                formValidate: {
                    lanIp:'',
                    lanNetmask:'',
                    dhcp:false,
                    dhcpStart:'',
                    dhcpEnd:'',
                    dhcpLease:'300'
                },
                showModel:false,
                dhcpColumns: [
                    {
                        title: 'ID',
                        type: 'index'
                    },
                    {
                        title: 'IP',
                        key: 'ip'
                    },
                    {
                        title: 'MAC',
                        key: 'mac'
                    }
                ],
                getDhcpCliList: [],
                percent:0,
                lanIp:'',
                lanNetmask:''
            }
        },
        computed:{
            ruleValidate: function() {
                var _this = this;
                return {
                    lanIp: [
                        { required: true, message: this.$t('lan.msg1',[this.$t('lan.ip')]), trigger: 'blur' },
                        { validator:function(r, v, f) {
                            var _s = cs.ip(v);
                            if(_s != 99) {
                                f(_this.$t('lan.ip')+_this.$t('lan["msg'+(_s+1)+'"]'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ],
                    lanNetmask: [
                        { required: true, message: this.$t('lan.msg1',[this.$t('lan.mask')]), trigger: 'blur' },
                        { validator:function(r, v, f) {
                            var _s = cs.mask(v);
                            if(_s == 0 || _s == 1) {
                                f(_this.$t('lan.msg6'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ],
                    dhcpStart: [
                        { required: true, type:"string", message: this.$t('lan.msg1',[this.$t('lan.sip')]), trigger: 'blur' },
                        { validator:function(r, v, f) {
                            var _s = cs.ip(v);
                            if(_s != 99) {
                                f(_this.$t('lan.sip')+_this.$t('lan["msg'+(_s+1)+'"]'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ],
                    dhcpEnd: [
                        { required: true, type:"string", message: this.$t('lan.msg1',[this.$t('lan.eip')]), trigger: 'blur' },
                        { validator:function(r, v, f) {
                            var _s = cs.ip(v);
                            if(_s != 99) {
                                f(_this.$t('lan.eip')+_this.$t('lan["msg'+(_s+1)+'"]'));
                            }else{
                                f();
                            }
                        },trigger: 'blur' }
                    ]
                }
            }
        },
        created:function() {
            var _this = this;
            var portData = {"action":"getLanInfo", "data":{}};
            uiPost.getLanInfo(portData,function(data) {
                if (9999 == data.rescode){
                    cs.loginOut();
                }
                if (0 == data.rescode)
                {
                    _this.interfaces = data.data.Interfaces;
                    _this.nics = data.data.Nics;

                    _this.netSelCardDinding = _this.interfaces[0].Nic;
                    _this.formValidate.lanIp = _this.interfaces[0].Ip;
                    _this.oldLanIp = _this.interfaces[0].Ip;
                    _this.tmpLanIp = _this.formValidate.lanIp;
                    _this.formValidate.lanNetmask = _this.interfaces[0].Netmask;
                    _this.formValidate.dhcp = (_this.interfaces[0].DhcpSvrEnable=="1")?true:false;
                    _this.formValidate.dhcpLease = _this.interfaces[0].DhcpLeasetime ?  ''+_this.interfaces[0].DhcpLeasetime : "86400" ;
                    _this.formValidate.dhcpStart = _this.interfaces[0].DhcpStart;
                    _this.formValidate.dhcpEnd = _this.interfaces[0].DhcpEnd;

                    _this.lanIp = _this.interfaces[0].Ip;
                    _this.lanNetmask = _this.interfaces[0].Netmask;

                    /*显示多LAN添加按钮*/
                    var i = 0;
                    for(var x in _this.nics){
                        i++;
                    }
                    if(_this.interfaces.length >= i){
                        _this.showAddBtnFlag = '0';
                    }
                }
            });
        },
        watch:{
            "formValidate.lanIp":function () {
                var _this = this;
                _this.tmpLanIp = this.formValidate.lanIp;
                if(cs.ip(_this.tmpLanIp) != 99){
                    return false;
                }
                var addr = cs.getAddrPool(_this.tmpLanIp,_this.formValidate.lanNetmask);
                if(addr['start'] && addr['end']){
                    _this.formValidate.dhcpStart = addr['start'];
                    _this.formValidate.dhcpEnd = addr['end'];
                }
            },
            "formValidate.lanNetmask":function () {
                var _this = this;
                if(cs.ip(_this.tmpLanIp) != 99 || cs.mask(_this.formValidate.lanNetmask) != 99){
                    return false;
                }
                var addr = cs.getAddrPool(_this.tmpLanIp,_this.formValidate.lanNetmask);
                if(addr['start'] && addr['end']){
                    _this.formValidate.dhcpStart = addr['start'];
                    _this.formValidate.dhcpEnd = addr['end'];
                }
            },
            switchLanPort:function () {
                var _this = this;
                for (var i in _this.interfaces){
                    if(_this.switchLanPort == _this.interfaces[i].Interface){
                        _this.netSelCardDinding = _this.interfaces[i].Nic;
                        _this.formValidate.lanIp = _this.interfaces[i].Ip;
                        _this.oldLanIp = _this.interfaces[i].Ip;
                        _this.tmpLanIp = _this.formValidate.lanIp;
                        _this.formValidate.lanNetmask = _this.interfaces[i].Netmask;
                        _this.formValidate.dhcp = (_this.interfaces[i].DhcpSvrEnable=="1")?true:false;
                        _this.formValidate.dhcpLease = _this.interfaces[i].DhcpLeasetime ?  ''+_this.interfaces[i].DhcpLeasetime : "86400" ;
                        _this.formValidate.dhcpStart = _this.interfaces[i].DhcpStart;
                        _this.formValidate.dhcpEnd = _this.interfaces[i].DhcpEnd;

                        _this.lanIp = _this.interfaces[i].Ip;
                        _this.lanNetmask = _this.interfaces[i].Netmask;
                    }
                }
            }
        },
        methods:{
            delLanBtn:function () {
                var _this = this;
                if(_this.switchLanPort == 'add'){
                    _this.$Message.error({content:_this.$t("lan.msg18"),duration:5});
                    return false;
                }
                var data = {};
                data.Interface = _this.switchLanPort;
                var postVar = {"action":"delInterface","data":data};
                _this.$Spin.show();
                uiPost.delLanInterface(postVar,function (data) {
                    if (9999 == data.rescode){
                        cs.loginOut();
                    }
                    _this.$Spin.hide();   //关闭加载动画
                    if (0 == data.rescode) {
                        _this.$Message.success({content:_this.$t('lan.del_success'),onClose:function(){
                            location.href = location.href;
                        }});
                    }else {
                        _this.$Message.error({content:_this.$t('lan.del_fail')+' '+ _this.$t('errorcode.'+data.rescode),duration:5});
                    }
                });
            },
            addLanBtn:function () {
                var _this = this;
                _this.addLanFlag = '1';
                _this.switchLanPort = 'add';


                _this.netSelCardDinding = [];
                _this.formValidate.lanIp = '';
                _this.formValidate.lanNetmask = '';
                _this.formValidate.dhcp = true;
                _this.formValidate.dhcpLease = "86400" ;
                _this.formValidate.dhcpStart = '';
                _this.formValidate.dhcpEnd = '';
            },
            handleSubmit: function(name) {
                var _this = this;

                if(_this.netSelCardDinding.length <= 0){
                    _this.$Message.error(this.$t('lan.msg15'));
                    return false;
                }

                if (1 == _this.formValidate.dhcp) {
                    if(cs.ip_range(this.formValidate.dhcpStart,this.formValidate.dhcpEnd) == 0){
                        _this.$Message.error({content:_this.$t('lan.msg7'),duration:5});
                        return false;
                    }
                    if(_this.formValidate.dhcpStart == _this.formValidate.lanIp || _this.formValidate.dhcpEnd == _this.formValidate.lanIp){
                        _this.$Message.error({content:_this.$t('lan.msg10'),duration:5});
                        return false;
                    }
                    if(0 == cs.ip_subnet(_this.formValidate.lanIp,_this.formValidate.lanNetmask,_this.formValidate.dhcpStart)){
                        _this.$Message.error({content:_this.$t('lan.msg12'),duration:5});
                        return false;
                    }
                    if(0 == cs.ip_subnet(_this.formValidate.lanIp,_this.formValidate.lanNetmask,_this.formValidate.dhcpEnd)){
                        _this.$Message.error({content:_this.$t('lan.msg13'),duration:5});
                        return false;
                    }
                    if(1 == cs.ip_subnet(_this.formValidate.lanIp,_this.formValidate.lanNetmask,_this.wanIp)){
                        _this.$Message.error({content:_this.$t('lan.msg14'),duration:5});
                        return false;
                    }
                }

                _this.$refs[name].validate(function(valid){
                    if (valid) {
                        var lanip = _this.formValidate.lanIp;
                        var postVar = {};
                        postVar.Ip      = _this.formValidate.lanIp;
                        postVar.Netmask = _this.formValidate.lanNetmask;
                        postVar.DhcpSvrEnable = _this.formValidate.dhcp?"1":"0";
                        postVar.DhcpStart  = _this.formValidate.dhcpStart;
                        postVar.DhcpEnd    = _this.formValidate.dhcpEnd;
                        postVar.DhcpReleaseTime  = _this.formValidate.dhcpLease;
                        if(_this.switchLanPort == 'add'){
                            postVar.Interface = 'lan';
                        }else{
                            postVar.Interface = _this.switchLanPort;
                        }
                        postVar.Nic = _this.netSelCardDinding;

                        var nicsInfo = {};
                        for(var i in _this.interfaces){
                            nicsInfo[_this.interfaces[i].Interface] = [];
                            if(postVar.Interface == _this.interfaces[i].Interface){
                                nicsInfo[_this.interfaces[i].Interface] = _this.netSelCardDinding;
                            }else{
                                nicsInfo[_this.interfaces[i].Interface] = _this.interfaces[i].Nic;
                            }
                        }
                        for(var x in nicsInfo){
                            if(postVar.Interface != x){
                                for(var z in postVar.Nic){
                                    var idxof = $.inArray(postVar.Nic[z],nicsInfo[x]);
                                    if(idxof >= 0 ){
                                        nicsInfo[x].splice(idxof,1);
                                    }
                                }
                            }
                        }

                        for(var u in nicsInfo){
                            if(nicsInfo[u].length <= 0){
                                _this.$Message.error({content:_this.$t('lan.msg16') + u + _this.$t('lan.msg17'),duration:5,onClose:function () {
                                    location.href = location.href;
                                }});
                                return false;
                            }
                        }

                        postVar.member = {};
                        postVar.member = nicsInfo;

                        _this.$Spin.show();  //加载动画
                        _this.applyLoading = true;
                        var postData = {};
                        if(_this.switchLanPort == 'add'){
                            postData = {"action":"addLanInterface","data":postVar};
                            uiPost.addLanInterface(postData,function (data) {
                                if (9999 == data.rescode){
                                    cs.loginOut();
                                }
                                _this.$Spin.hide();   //关闭加载动画
                                _this.applyLoading = false;
                                if (0 == data.rescode) {
                                    _this.$Message.success({content:_this.$t('lan.add_success'),onClose:function(){
                                        location.href = location.href;
                                    }});
                                }else {
                                    _this.$Message.error({content:_this.$t('lan.add_fail')+' '+ _this.$t('errorcode.'+data.rescode),duration:5});
                                }
                            });
                        }else{
                            postData = {"action":"setLanInfo","data":postVar};
                            uiPost.setLanInfo(postData,function (data) {
                                _this.$Spin.hide();   //关闭加载动画
                                if(_this.oldLanIp != _this.tmpLanIp){
                                    location.href = 'http://'+_this.tmpLanIp+'/newui/internet/lan.html';
                                }
                                if (9999 == data.rescode){
                                    cs.loginOut();
                                }
                                _this.applyLoading = false;
                                if (0 == data.rescode) {
                                    location.href = 'http://'+_this.tmpLanIp+'/newui/internet/lan.html';
                                }
                            });
                        }

                    }
                })
            },
            handleReset: function(name) {
                this.$refs[name].resetFields();
            },
            ok:function () {
                // this.$Message.info('Clicked ok');
            },
            cancel:function () {
                // this.$Message.info('Clicked cancel');
            },
            selectTable:function (value) {
                // select value;
                // console.log(value);
                // this.showModel = false;
                // this.$Message.info('name:'+value.name+',age:'+value.age);
            },
            showGetModel:function(){
                var _this = this;
                var data = {};
                data.ip = _this.lanIp;
                data.netmask = _this.lanNetmask;
                var postVar = {"action":"getDhcpCliList","data":data};
                uiPost.getDhcpCliList(postVar,function(data){
                    _this.getDhcpCliList = data.data;
                    _this.showModel = true;
                });
            }
        }
    };
</script>
<script src="/newui/static/js/main.js"></script>
</body>
</html>