<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carystudio</title>    
    <link rel="stylesheet" href="/newui/plugin/iview/styles/iview.css">
	<link rel="stylesheet" href="/newui/static/css/style.css">
</head>
<body>
<div id="app"></div>

<!-- main template -->
<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
          <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
             <Alert>
              <!-- <h3>设置</h3> -->
              {{ $t('wds.help') }}
             </Alert>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('static_dhcp.state')">
                    <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus">
                        <span slot="open">{{ $t('common.enabled') }}</span>
                        <span slot="close">{{ $t('common.disabled') }}</span>
                    </i-switch>
                </FormItem>
				<Col v-show="formValidate.status" >
				{{ $t('wds.add_rule') }}
				<hr>
				<br>
				<FormItem :label="$t('wds.mac')" prop="mac">
					<Row>
						<Col span="19"><Input v-model="formValidate.mac" ></Input></Col>
						<Col span="4" offset="1"><Button long @click="showClientList">{{ $t('wds.scan') }}</Button></Col>
					</Row>
				</FormItem>
				<FormItem>
					<Button type="primary"  @click="handleSubmit('formValidate')">{{ $t('wds.add') }}</Button>
				</FormItem>
				</Col>
            </Form>
            </Card>
            <br>
        </Col>
        </row>
		<Row v-show="formValidate.status">
		{{ $t('wds.wds_table') }}
		<hr>
            <Col class="cs-btn-del">
                <Button size="small" @click="tableSelect(true)" type="error">{{ $t('wds.delete') }}</Button>
            </Col>
            <Col >
				<Table border ref="tableSelect" :columns="macfColumns" :data="macfData"></Table>
            </Col>
        </Row>
    </div>
	<Modal
        v-model="showModel"
        :title="$t('wds.modal_title')"
        @on-ok="ok"
        @on-cancel="cancel"
		width=1100>
        <Table highlight-row :loading="arpLoading" :columns="arpColumns" :data="arpData" @on-current-change="selectTable">
            <div slot="footer" style="display: none;"></div>
        </Table>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<!-- /.main template -->

<script src="/newui/plugin/vue.js"></script>
<script src="/newui/plugin/vue-i18n.js"></script>
<script src="/newui/plugin/iview/iview.js"></script>
<script src="/newui/plugin/jquery-1.11.3.min.js"></script>
<script src="/newui/plugin/util.js"></script>
<script src="/newui/static/js/language.js"></script>
<script src="/newui/static/js/spec.js"></script>
<script src="/newui/static/js/config.js"></script>
<script src="/newui/static/js/layout.js"></script>
<script src="/newui/static/js/common.js"></script>
<script src="/newui/static/js/topicurl.js"></script>
<script>
// 注册头文件
var cs_main = {
    template: '#main',
    data:function() {
		var _this = this;
        return {
            globalConfig:globalConfig,
			applyLoading:false,
			arpLoading:true,
			formValidate: {
				status:true,
				mac:''

			},
			arpData:[],
			macfData:[],
			showModel:false,
			arpColumns: [
				{
					title: _this.$t('wds.channel'),
					key: 'channel',
					sortable:true
				},{
					title: 'SSID',
					key: 'ssid',
					sortable:true
				},{
					title: 'MAC',
					key: 'bssid',
					sortable:true
				},{
					title: _this.$t('wds.cipher'),
					key: 'cipher',
					sortable:true
				},{
					title: _this.$t('wds.encrypt'),
					key: 'encrypt',
					sortable:true
				},{
					title: _this.$t('wds.band'),
					key: 'band',
					sortable:true
				},{
					title: _this.$t('wds.signal'),
					key: 'signal',
					sortable:true
				}
			]
		}
	},
	created:function() {
		var _this = this;
		var postVar = {};
		postVar.wifiIdx = "1"; //2.4G
		uiPost.getWiFiWdsAddConfig(postVar,function(data){
			_this.formValidate.status = data.wdsEnable == 1 ? true : false;
			var macList = data.wdsList.split(';');
			if(Number(macList) != 0){
				var num = 0, tem;
				tem = '[';
				for(var i=0;i<macList.length;i++){
					num = i+1;
					if(i == macList.length-1)
						tem += '{"idx":"'+num+'",'+'"mac":"'+macList[i]+'"}';
					else
						tem += '{"idx":"'+num+'",'+'"mac":"'+macList[i]+'"},';					
				}
				tem += ']';
				var arr = JSON.parse(tem);
				_this.macfData = arr;
			}
		});
	},
    computed:{
		ruleValidate:function(){
			var _this = this;
			return {
				mac: [
					{ validator:function(r, v, f) {
					  var _s = cs.mac(v);
					  if(_s == 0) {
						f(_this.$t('wds.mac')+_this.$t('wds.msg1'));
					  }else if(_s == 1) {
						f(_this.$t('wds.mac')+_this.$t('wds.msg2'));
					  }else if(_s == 2) {
						f(_this.$t('wds.mac')+_this.$t('wds.msg3'));
					  }else if(_s == 3) {
						f(_this.$t('wds.mac')+_this.$t('wds.msg4'));
					  }else{
						f();
					  }
					},trigger: 'blur' }
				]
			}
		},
		macfColumns: function() {
			var _this = this;
			return [{
					type: 'selection',
					key: 'idx',
					width: '100',
					sortable: true
				},{
					title: 'ID',
					key: 'idx',
					sortable: true
				},{
					title: this.$t('wds.mac'),
					key: 'mac',
					sortable: true
				},{
					title:this.$t('wds.select'),
					key: 'idx',
					align: 'center',
					render: function(h, params) {
						return h('Poptip',{
							props: {
								confirm: true,
								title: _this.$t('wds.msg8'),
								"ok-text":_this.$t('common.ok'),
								"cancel-text":_this.$t('common.cancel')
							},
							on: {
								"on-ok": function(){
									_this.deleteData(params);
								}
							}
						}, [
							h('Button', {
								props: {
									type: 'error',
									size: 'small'
								},
							}, _this.$t('wds.delete'))
						]);
					}
				}
			]
		}
    },
    methods:{
		handleSubmit:function(name){
			var _this = this;
			var postVar = {};
			_this.addMacfLoading = true;
			_this.$refs[name].validate(function(valid){
				if (valid) {
					if (_this.macfData.length) {
						for(var i=0; i<_this.macfData.length; i++) {
							if(_this.formValidate.mac.toUpperCase() == _this.macfData[i].mac.toUpperCase()) {
								_this.$Message.error(_this.$t('wds.msg5'));
								return false;
							}
						}
					}
					postVar.wifiIdx = "1";
					postVar.addEffect = "1";
					postVar.wdsList = _this.formValidate.mac;
					uiPost.setWiFiWdsAddConfig(postVar,function(){
					  //  location.href = location.href;
					  _this.$Message.success('Success!');
					});
				}
			})
		},
		showClientList:function(){
		  var _this = this;
		  _this.showModel = true;
		  uiPost.getWiFiApcliScan(function(data){
			  _this.arpData = data;
			  _this.arpLoading = false;
		  });
		},
        submitStatus:function(){
            var postVar = {};
			postVar.addEffect = "0";
            if(true == this.formValidate.status){
                postVar.wdsEnable = "1";
            }else{
                postVar.wdsEnable = "0";
            }
            uiPost.setWiFiWdsAddConfig(postVar);
        },
		selectTable:function (obj) {
			this.formValidate.mac = obj.bssid;
		},
		ok:function () {
		},
		cancel:function () {
		},
		deleteData:function (obj) {
			var _this = this;
			var postVar = {};
			postVar.wifiIdx = "1";
			postVar[obj.row.delRuleName] = obj.index;
			uiPost.setWiFiWdsDeleteConfig(postVar,function(){
				_this.macfData.splice(obj.index, 1);
			});
		},
		tableSelect:function(status){
			var _this = this;
			if (status) {
				var getSelection = this.$refs.tableSelect.getSelection();
				if (getSelection.length>0) {
					var postVar = {};
					postVar.wifiIdx = "1";
					for(var i=0; i<getSelection.length; i++)
					{
						postVar[getSelection[i].delRuleName] = i;
					}
					uiPost.setWiFiWdsDeleteConfig(postVar,function(data){
						_this.$Message.success({content:_this.$t('wds.msg9'),onClose:function(){
							location.href = location.href;
						}});
					});
				}else{
					this.$Message.error(this.$t('wds.msg7'));
				}
			}else{
				this.$refs.tableSelect.selectAll(status);
			}
		},
    }
};
</script>
<script src="/newui/static/js/main.js"></script>
</body>
</html>