<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Carystudio</title>
  <link rel="stylesheet" href="/newui/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/newui/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <Row>
          <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
            <Col>
                <Alert>
                    {{ $t('ddns.help') }}
                </Alert>
            </Col>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('ddns.title')">
                    <i-switch v-model="formValidate.status" size="large" >
                        <span slot="open">{{ $t('common.enabled') }}</span>
                        <span slot="close">{{ $t('common.disabled') }}</span>
                    </i-switch>
                </FormItem>
                <Col v-show="formValidate.status" >
                <FormItem :label="$t('ddns.service')">
                    <i-select v-model="formValidate.ddnsProvider">
                      <Option :value="0">DynDNS</Option> 
                      <Option :value="1">No-IP</Option>
                      <Option :value="2">www.3322.org</Option>
                    </i-select>
                    <a href="http://www.pubyun.com/accounts/signup/" target="_blank">{{ $t('ddns.gotoapply') }}</a>
                </FormItem>
                <FormItem :label="$t('ddns.domainname')" prop="ddnsDomain">
                    <Input v-model="formValidate.ddnsDomain" v-if="this.formValidate.ddnsProvider == '1'" disabled></Input>
                    <Input v-model="formValidate.ddnsDomain" v-else></Input>
                </FormItem>
                <FormItem :label="$t('ddns.username')" prop="ddnsAccount">
                    <Input v-model="formValidate.ddnsAccount" :maxlength="32"></Input>
                </FormItem>
                <FormItem :label="$t('ddns.password')" prop="ddnsPassword">
                    <Input v-model="formValidate.ddnsPassword" :maxlength="32"></Input>
                </FormItem>
                <FormItem :label="$t('ddns.status')">
                    <span v-if="this.ddnsIp !='' && this.ddnsStatus =='success'">{{ $t('ddns.ddnssuccess') }}</span>
                    <span v-else>{{ $t('ddns.ddnsfail') }}</span>
                </FormItem>
                <FormItem :label="$t('ddns.ddnsinfo')">
                    <span v-if="this.ddnsIp !='' && this.ddnsStatus =='success'">{{ $t('ddns.ipaddr')+this.ddnsIp }}</span>
                    <span v-else>0.0.0.0</span>
                </FormItem>
                <!-- btn -->
                <FormItem>
                      <Button type="primary" @click="handleSubmit('formValidate')">{{ $t('ddns.apply') }}</Button>
                </FormItem>
                </Col>
            </Form>
            </Card>
            <br>
        </Col>
        </Row>
    </div>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
    <span style="display: none;">{{ submitStatus }}</span>
</Col>
</script>
<script src="/newui/plugin/vue.js"></script>
<script src="/newui/plugin/vue-i18n.js"></script>
<script src="/newui/plugin/iview/iview.js"></script>
<script src="/newui/plugin/jquery-1.11.3.min.js"></script>
<script src="/newui/plugin/util.js"></script>
<script src="/newui/static/js/language.js"></script>
<script src="/newui/static/js/config.js"></script>
<script src="/newui/static/js/layout.js"></script>
<script src="/newui/static/js/common.js"></script>
<script src="/newui/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
      formValidate: {
          status:false,
          ddnsProvider:'',
          ddnsDomain:'',
          ddnsAccount:'',
          ddnsPassword:''
      },
    }
  },
  computed:{
    ruleValidate: function(){
      var _this = this;
      return {
          ddnsDomain: [
            { validator:function(r, v, f){
                var _s = cs.string(v);
                if(_s == 0) {
                    f(_this.$t('ddns.domainname')+_this.$t('ddns.msg1'));
                }else if(_s == 1) {
                    f(_this.$t('ddns.domainname')+_this.$t('ddns.msg2'));
                }else{
                  f();
                }
              },trigger: 'blur'}
          ],
          ddnsAccount: [
            { validator:function(r, v, f){
                var _s = cs.string(v);
                if(_s == 0) {
                    f(_this.$t('ddns.username')+_this.$t('ddns.msg1'));
                }else if(_s == 1) {
                    f(_this.$t('ddns.username')+_this.$t('ddns.msg2'));
                }else{
                  f();
                }
              },trigger: 'blur'}
          ],
          ddnsPassword: [
            { validator:function(r, v, f){
                var _s = cs.string(v);
                if(_s == 0) {
                    f(_this.$t('ddns.password')+_this.$t('ddns.msg1'));
                }else if(_s == 1) {
                    f(_this.$t('ddns.password')+_this.$t('ddns.msg2'));
                }else{
                  f();
                }
              },trigger: 'blur'}
          ],
      }
    },
    submitStatus:function(){
        var postVar = {};
        if(true == this.formValidate.status){
            postVar.ddnsEnabled = "1";
        }else{
            postVar.ddnsEnabled = "0";
        }
        uiPost.setDDNSCfg(postVar);
        return this.formValidate.status;
    }
  },
  created:function() {
    var _this = this;
    uiPost.getDDNSCfg(function(data){
        _this.formValidate.status = data.ddnsEnabled == 1 ?true :false;
        _this.formValidate.ddnsProvider = data.ddnsProvider;
        _this.formValidate.ddnsDomain = data.ddnsDomain;
        _this.formValidate.ddnsAccount = data.ddnsAccount;
        _this.formValidate.ddnsPassword = data.ddnsPassword;
       if(data.ddnsEnabled){
        uiPost.getDDNSStatus(function(data){
            _this.ddnsStatus = data.ddnsStatus;
            _this.ddnsIp = data.ddnsIp;
        });
       } 
    })
  },
  methods:{
    handleSubmit: function(name) {
        var _this = this;
        _this.$refs[name].validate(function(valid){
            if (valid) {
              _this.$refs[name].validate(function(valid){
                  if (valid) {
                      var postVar = {};
                      postVar.ddnsProvider = _this.formValidate.ddnsProvider
                      postVar.ddnsDomain = _this.formValidate.ddnsDomain;
                      postVar.ddnsAccount = _this.formValidate.ddnsAccount;
                      postVar.ddnsPassword = _this.formValidate.ddnsPassword;
                      uiPost.setDDNSCfg(postVar,function(data){
                          location.href = location.href;
                      });
                  }
              })
            }  
        })
    }
  }
};
</script>
<script src="/newui/static/js/main.js"></script>
</body>
</html>