<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carystudio</title>    
    <link rel="stylesheet" href="/newui/plugin/iview/styles/iview.css">
	<link rel="stylesheet" href="/newui/static/css/style.css">
</head>
<body>
<div id="app"></div>

<!-- main template -->
<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb" :breadcrumb="[$t('menu.adm'),$t('menu.schedule')]"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
          <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
             <Alert>
              <!-- <h3>设置</h3> -->
              {{ $t('reboot_schedule.help') }}
             </Alert>
            <Form ref="formValidate" :model="formValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('static_dhcp.state')">
                    <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus">
                        <span slot="open">{{ $t('common.enabled') }}</span>
                        <span slot="close">{{ $t('common.disabled') }}</span>
                    </i-switch>
                </FormItem>
				<Col v-show="formValidate.status" >
				<br>
				<FormItem :label="$t('reboot_schedule.month')" >
					<template>
						<Select v-model="formValidate.month" @on-change="swithDate">
							<Option v-for="item in monthList" :value="item.value" :key="item.value">{{ item.lable }}</Option>
						</Select>
					</template>
				</FormItem>
				<FormItem :label="$t('reboot_schedule.date')" >
					<template>
						<Select v-model="formValidate.date" >
							<Option v-for="item in dateList" :value="item.value" :key="item.value"  v-show="item.value <= days">{{ item.lable }}</Option>
						</Select>
					</template>
				</FormItem>
				<FormItem :label="$t('reboot_schedule.week')" >
                    <template>
						<Select v-model="formValidate.week" >
							<Option v-for="item in weekList" :value="item.value" :key="item.value">{{ item.lable }}</Option>
						</Select>
					</template>
                </FormItem>
				<FormItem :label="$t('reboot_schedule.time')">
					<TimePicker type="time" :value="formValidate.time" format="HH:mm" @on-change="getTime"></TimePicker>
                     <span>({{ $t('reboot_schedule.hour') }}:{{ $t('reboot_schedule.min') }})</span>
                </FormItem>
				<FormItem>
                      <Button type="primary" @click="handleSubmit" >{{ $t('common.apply') }}</Button>
                </FormItem>
				</Col>
            </Form>
            </Card>
            <br>
        </Col>
        </row>
		
    </div>

    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
    <span style="display: none;">{{ submitStatus }}</span>
</Col>
</script>
<!-- /.main template -->

<script src="/newui/plugin/vue.js"></script>
<script src="/newui/plugin/vue-i18n.js"></script>
<script src="/newui/plugin/iview/iview.js"></script>
<script src="/newui/plugin/jquery-1.11.3.min.js"></script>
<script src="/newui/plugin/util.js"></script>
<script src="/newui/static/js/language.js"></script>
<script src="/newui/static/js/config.js"></script>
<script src="/newui/static/js/layout.js"></script>
<script src="/newui/static/js/common.js"></script>
<script src="/newui/static/js/topicurl.js"></script>
<script>
// 注册头文件
var cs_main = {
    template: '#main',
    data:function() {
		var _this = this;
        return {
            globalConfig:globalConfig,
			applyLoading:false,
			arpLoading:true,

			days:'31',
			formValidate: {
				status:true,
				month:'0',
				date:'0',
				week:'0',
				time:'00:00'
			},
			ntpEnabled:'',
			monthList:[
				{
					value:'0',
					lable:_this.$t('reboot_schedule.all')
				},{
					value:"1",
					lable:_this.$t('reboot_schedule.jan')
				},{
					value:"2",
					lable:_this.$t('reboot_schedule.feb')
				},{
					value:"3",
					lable:_this.$t('reboot_schedule.mar')
				},{
					value:"4",
					lable:_this.$t('reboot_schedule.apr')
				},{
					value:"5",
					lable:_this.$t('reboot_schedule.may')
				},{
					value:"6",
					lable:_this.$t('reboot_schedule.jun')
				},
				{
					value:"7",
					lable:_this.$t('reboot_schedule.jul')
				},
				{
					value:"8",
					lable:_this.$t('reboot_schedule.aug')
				},
				{
					value:"9",
					lable:_this.$t('reboot_schedule.sep')
				},
				{
					value:"10",
					lable:_this.$t('reboot_schedule.oct')
				},
				{
					value:"11",
					lable:_this.$t('reboot_schedule.nov')
				},
				{
					value:"12",
					lable:_this.$t('reboot_schedule.dec')
				}
			],
			dateList:[
				{
					value:'0',
					lable:_this.$t('reboot_schedule.all')
				},{
					value:"1",
					lable:_this.$t('reboot_schedule.one_day')
				},{
					value:"2",
					lable:_this.$t('reboot_schedule.two_day')
				},{
					value:"3",
					lable:_this.$t('reboot_schedule.three_day')
				},{
					value:"4",
					lable:_this.$t('reboot_schedule.four_day')
				},{
					value:"5",
					lable:_this.$t('reboot_schedule.five_day')
				},{
					value:"6",
					lable:_this.$t('reboot_schedule.six_day')
				},{
					value:"7",
					lable:_this.$t('reboot_schedule.seven_day')
				},{
					value:"8",
					lable:_this.$t('reboot_schedule.eight_day')
				},{
					value:"9",
					lable:_this.$t('reboot_schedule.nine_day')
				},{
					value:"10",
					lable:_this.$t('reboot_schedule.ten_day')
				},{
					value:"11",
					lable:_this.$t('reboot_schedule.eleven_day')
				},{
					value:"12",
					lable:_this.$t('reboot_schedule.twelve_day')
				},{
					value:"13",
					lable:_this.$t('reboot_schedule.thirteen_day')
				},{
					value:"14",
					lable:_this.$t('reboot_schedule.fourteen_day')
				},{
					value:"15",
					lable:_this.$t('reboot_schedule.fifteen_day')
				},{
					value:"16",
					lable:_this.$t('reboot_schedule.sixteen_day')
				},{
					value:"17",
					lable:_this.$t('reboot_schedule.seveteen_day')
				},{
					value:"18",
					lable:_this.$t('reboot_schedule.eighteen_day')
				},{
					value:"19",
					lable:_this.$t('reboot_schedule.nineteen_day')
				},{
					value:"20",
					lable:_this.$t('reboot_schedule.twenty_day')
				},{
					value:"21",
					lable:_this.$t('reboot_schedule.twenty_one_day')
				},{
					value:"22",
					lable:_this.$t('reboot_schedule.twenty_two_day')
				},{
					value:"23",
					lable:_this.$t('reboot_schedule.twenty_three_day')
				},{
					value:"24",
					lable:_this.$t('reboot_schedule.twenty_four_day')
				},{
					value:"25",
					lable:_this.$t('reboot_schedule.twenty_five_day')
				},{
					value:"26",
					lable:_this.$t('reboot_schedule.twenty_six_day')
				},{
					value:"27",
					lable:_this.$t('reboot_schedule.twenty_sevne_day')
				},{
					value:"28",
					lable:_this.$t('reboot_schedule.twenty_eight_day')
				},{
					value:"29",
					lable:_this.$t('reboot_schedule.twenty_nine_day')
				},{
					value:"30",
					lable:_this.$t('reboot_schedule.thirty_day')
				},{
					value:"31",
					lable:_this.$t('reboot_schedule.thirty_one_day')
				}
			],
			weekList:[
				{
					value:'0',
					lable:_this.$t('reboot_schedule.all')
				},{
					value:"7",
					lable:_this.$t('reboot_schedule.sun')
				},{
					value:"1",
					lable:_this.$t('reboot_schedule.mon')
				},{
					value:"2",
					lable:_this.$t('reboot_schedule.tue')
				},{
					value:"3",
					lable:_this.$t('reboot_schedule.wed')
				},{
					value:"4",
					lable:_this.$t('reboot_schedule.thu')
				},{
					value:"5",
					lable:_this.$t('reboot_schedule.fri')
				},{
					value:"6",
					lable:_this.$t('reboot_schedule.sat')
				}
			]
		}
	},
	created:function() {
		var _this = this;
		var postData = {"action":"getRebootSched"};
		uiPost.getRebootSched(postData,function(data){
			console.log(data);
			if (9999 == data.rescode){
				cs.loginOut();
			}
			if (0 == data.rescode) {
				var data = data.data;
				console.log(data);
				if ('0' != data.Enable) {
					_this.formValidate.status = true;
					_this.formValidate.month = data.TimeMonth;
					_this.formValidate.date = data.TimeDate;
					_this.formValidate.week = data.TimeWeek;

					var time_h = data.TimeHour?data.TimeHour:0;
					var time_m = data.TimeMin?data.TimeMin:0;
					_this.formValidate.time = time_h + ':' + time_m;

				} else {
					_this.formValidate.status = false;
				}
			}
		});
	},
    computed:{
    },
    methods:{
		handleSubmit:function(){
			var _this = this;


			var data = {};
			if(true == _this.formValidate.status){
				data.Enable    = '1';
			}else{
				data.Enable    = '0';
			}
			if('0' == _this.formValidate.month){
				data.TimeMonth = '';
			}else{
				data.TimeMonth = _this.formValidate.month;
			}
			if('0' == _this.formValidate.week){
				data.TimeWeek = '';
			}else if('7' == _this.formValidate.week){
				data.TimeWeek = '0';
			}else{
				data.TimeWeek = _this.formValidate.week;
			}
			if('0' == _this.formValidate.date){
				data.TimeDate = '';
			}else{
				data.TimeDate = _this.formValidate.date;
			}
			if('' == _this.formValidate.time){
				_this.formValidate.time = '00:00';
			}
			var time = _this.formValidate.time.split(':');
			data.TimeHour = Number(time[0])+'';
			data.TimeMin = Number(time[1])+'';

			var postData = {"action":"setRebootSched", "data":data};
			console.log(postData);
			uiPost.setRebootSched(postData,function(data){
				if (9999 == data.rescode){
					cs.loginOut();
				}
				console.log(data);
				if (0 == data.rescode) {
					_this.$Message.success({content:_this.$t('reboot_schedule.set_success'),onClose:function(){
						location.href = location.href;
					}});
				} else {
					_this.$Message.error(_this.$t('reboot_schedule.set_fail')+data.rescode);
				}
			});
		},
		getTime:function(value){
			this.formValidate.time = value;
		},
        submitStatus:function(){
            var postVar = {};
            if(true == this.formValidate.status){
                postVar.scheEn = "1";
            }else{
                postVar.scheEn = "0";
            }
            uiPost.setRebootScheCfg(postVar);
        },
		swithDate:function () {
			var _this = this;

			var tmpDate = new Date();
			var year = tmpDate.getFullYear();	//取年份

			var month = _this.formValidate.month;	//取选择的月份
//			var dateArr = _this.dateList;		//全部日期

			var d = new Date(year, month , 0);
			var day = d.getDate();	//取某月的天数
			_this.days = day;
			if(day < _this.formValidate.date){
				_this.formValidate.date = day+'';
			}
		}
    }
};
</script>
<script src="/newui/static/js/main.js"></script>
</body>
</html>